@import './typography.css';
@import 'tailwindcss';
@plugin "@tailwindcss/typography";

@theme {
   /* Breakpoints */
   --breakpoint-2xs: 20rem;
   --breakpoint-xs: 30rem;

   /* Font */
   --font-inter: 'Inter', sans-serif;
   --font-poppins: 'Poppins', sans-serif;
   --font-poppins-rounded: 'PoppinsRounded', sans-serif;

   /* Palette */
   --color-bg-main: #fefffe;
   --color-bg-inverse: #111827;
   --color-text-main: #111827;
   --color-text-inverse: #fefffe;

   /* Accent */
   --color-accent-primary: var(--color-orange-600);
   --color-accent-secondary: var(--color-emerald-400);

   /* Animation */
   --animate-spin: spin 1.5s ease-in-out;
}

.bg-main {
   background-color: var(--color-bg-main);
}
.bg-inverse {
   background-color: var(--color-bg-inverse);
}

.text-main {
   color: var(--color-text-main);
}
.text-inverse {
   color: var(--color-text-inverse);
}

.text-accent-primary {
   color: var(--color-accent-primary);
}
.text-accent-secondary {
   color: var(--color-accent-secondary);
}

.bg-accent-primary {
   background-color: var(--color-accent-primary);
}
.bg-accent-secondary {
   background-color: var(--color-accent-secondary);
}

.border-inverse {
   border-color: var(--color-bg-inverse);
}
.shadow-inverse {
   box-shadow: 1px 1px 0 1px var(--color-bg-inverse);
}

.focus {
   @apply rounded-lg focus:outline-none focus:ring-2 focus:ring-orange-200;
}

.debug {
   @apply border border-dashed border-red-500;
}
