@import './typography.css';
@import 'tailwindcss';
@plugin "@tailwindcss/typography";

@theme {
   /* Breakpoints */
   --breakpoint-2xs: 20rem;
   --breakpoint-xs: 30rem;

   /* Font */
   --font-inter: 'Inter', sans-serif;
   --font-poppins: 'Poppins', sans-serif;
   --font-poppins-rounded: 'PoppinsRounded', sans-serif;

   /* Palette */
   --color-bg-main: #fefffe;
   --color-bg-alt: var(--color-yellow-200);
   --color-bg-inverse: #111827;
   --color-text-main: #111827;
   --color-text-inverse: #fefffe;

   /* Accent */
   --color-accent-primary: var(--color-orange-600);
   --color-accent-secondary-light: var(--color-emerald-400);
   --color-accent-secondary: var(--color-emerald-500);
   --color-accent-tertiary: #846fe3;

   /* Animation */
   --animate-spin: spin 1.5s ease-in-out;
}

.bg-main {
   background-color: var(--color-bg-main);
}
.bg-alt {
   background-color: var(--color-bg-alt);
}
.bg-inverse {
   background-color: var(--color-bg-inverse);
}

.text-main {
   color: var(--color-text-main);
}
.text-inverse {
   color: var(--color-text-inverse);
}

.text-accent-primary {
   color: var(--color-accent-primary);
}
.text-accent-secondary {
   color: var(--color-accent-secondary);
}
.text-accent-tertiary {
   color: var(--color-accent-tertiary);
}

.bg-accent-primary {
   background-color: var(--color-accent-primary);
}
.bg-accent-secondary-light {
   background-color: var(--color-accent-secondary-light);
}
.bg-accent-secondary {
   background-color: var(--color-accent-secondary);
}
.bg-accent-tertiary {
   background-color: var(--color-accent-tertiary);
}

.border-inverse {
   border-color: var(--color-bg-inverse);
}
.shadow-inverse {
   box-shadow: 3px 3px 0 0px var(--color-bg-inverse);
}

.scale-on-hover {
   @apply transition-transform duration-500 ease-in-out group-hover:scale-110;
}
.translate-on-hover {
   @apply hover:-translate-0.5 transition-transform duration-150;
}

.focus {
   @apply rounded-lg focus:outline-none focus:ring-2 focus:ring-orange-200;
}

.debug {
   @apply border border-dashed border-red-500;
}
